[submodule "FunctionalAnalyisis"]
	path = FunctionalAnalyisis
	url = https://github.com/mirea-pmi/FunctionalAnalysis.git
[submodule "AlgorithmsAndComplexityTheory"]
	path = AlgorithmsAndComplexityTheory
	url = https://github.com/mirea-pmi/AlgorithmsAndComplexityTheory.git
